* { 
  box-sizing: border-box;
  font-family: arial;
}
input {
  background: lightgray;
  border-radius: 5px;
  height: 30px;
}
textarea {
  border-radius: 10px;
  resize: none; /* values could be horizontal or vertical or auto */
 
}
fieldset {
  background-color: lightpink;
}
legend {
  background: purple;
  padding: 10px;
  color: white;
  margin-bottom: 10px;
}
input[type=submit], input[type=reset] {
  background: purple;
  width: 100px;
  padding: 2px;
  color: white;
  margin-bottom: 10px;
}
span {
  color: maroon;
}
:focus {
  background: lightblue;
  text-transform: uppercase
}